
/home/calibraint/chat room/Chat-Room-App/view/node_modules
node_modules/.package-lock.json
node_modules/.bin/acorn
node_modules/.bin/ansi-html
node_modules/.bin/autoprefixer
node_modules/.bin/browserslist
node_modules/.bin/color-support
node_modules/.bin/cssesc
node_modules/.bin/errno
node_modules/.bin/esbuild
node_modules/.bin/esparse
node_modules/.bin/esvalidate
node_modules/.bin/image-size
node_modules/.bin/installed-package-contents
node_modules/.bin/is-docker
node_modules/.bin/js-yaml
node_modules/.bin/jsesc
node_modules/.bin/json5
node_modules/.bin/karma
node_modules/.bin/lessc
node_modules/.bin/mime
node_modules/.bin/mkdirp
node_modules/.bin/multicast-dns
node_modules/.bin/nanoid
node_modules/.bin/needle
node_modules/.bin/ng
node_modules/.bin/ng-xi18n
node_modules/.bin/ngc
node_modules/.bin/ngcc
node_modules/.bin/node-gyp
node_modules/.bin/node-gyp-build
node_modules/.bin/node-gyp-build-optional
node_modules/.bin/node-gyp-build-test
node_modules/.bin/nopt
node_modules/.bin/pacote
node_modules/.bin/parser
node_modules/.bin/regjsparser
node_modules/.bin/resolve
node_modules/.bin/rimraf
node_modules/.bin/sass
node_modules/.bin/semver
node_modules/.bin/sigstore
node_modules/.bin/terser
node_modules/.bin/tree-kill
node_modules/.bin/tsc
node_modules/.bin/tsserver
node_modules/.bin/update-browserslist-db
node_modules/.bin/uuid
node_modules/.bin/webpack
node_modules/.bin/webpack-dev-server
node_modules/.bin/which
node_modules/@ampproject/remapping/LICENSE
node_modules/@ampproject/remapping/package.json
node_modules/@ampproject/remapping/README.md
node_modules/@ampproject/remapping/dist/remapping.mjs
node_modules/@ampproject/remapping/dist/remapping.mjs.map
node_modules/@ampproject/remapping/dist/remapping.umd.js
node_modules/@ampproject/remapping/dist/remapping.umd.js.map
node_modules/@ampproject/remapping/dist/types/build-source-map-tree.d.ts
node_modules/@ampproject/remapping/dist/types/remapping.d.ts
node_modules/@ampproject/remapping/dist/types/source-map-tree.d.ts
node_modules/@ampproject/remapping/dist/types/source-map.d.ts
node_modules/@ampproject/remapping/dist/types/types.d.ts
node_modules/@angular-devkit/architect/LICENSE
node_modules/@angular-devkit/architect/package.json
node_modules/@angular-devkit/architect/README.md
node_modules/@angular-devkit/architect/builders/all-of.d.ts
node_modules/@angular-devkit/architect/builders/all-of.js
node_modules/@angular-devkit/architect/builders/builders.json
node_modules/@angular-devkit/architect/builders/concat.d.ts
node_modules/@angular-devkit/architect/builders/concat.js
node_modules/@angular-devkit/architect/builders/false.d.ts
node_modules/@angular-devkit/architect/builders/false.js
node_modules/@angular-devkit/architect/builders/noop-schema.json
node_modules/@angular-devkit/architect/builders/operator-schema.d.ts
node_modules/@angular-devkit/architect/builders/operator-schema.js
node_modules/@angular-devkit/architect/builders/operator-schema.json
node_modules/@angular-devkit/architect/builders/true.d.ts
node_modules/@angular-devkit/architect/builders/true.js
node_modules/@angular-devkit/architect/node/index.d.ts
node_modules/@angular-devkit/architect/node/node-modules-architect-host.d.ts
node_modules/@angular-devkit/architect/node/node-modules-architect-host.js
node_modules/@angular-devkit/architect/node/jobs/job-registry.d.ts
node_modules/@angular-devkit/architect/node/jobs/job-registry.js
node_modules/@angular-devkit/architect/node_modules/rxjs/AsyncSubject.d.ts
node_modules/@angular-devkit/architect/node_modules/rxjs/AsyncSubject.js
node_modules/@angular-devkit/architect/node_modules/rxjs/AsyncSubject.js.map
node_modules/@angular-devkit/architect/node_modules/rxjs/BehaviorSubject.d.ts
node_modules/@angular-devkit/architect/node_modules/rxjs/BehaviorSubject.js
node_modules/@angular-devkit/architect/node_modules/rxjs/BehaviorSubject.js.map
node_modules/@angular-devkit/architect/node_modules/rxjs/index.d.ts
view/src/assets/.gitkeep
view/.vscode/tasks.json
view/.vscode/extensions.json
view/.vscode/extensions.json
view/.vscode/launch.json
view/.vscode/tasks.json
view/angular.json
view/package-lock.json
view/package.json
view/README.md
view/tsconfig.app.json
view/tsconfig.json
view/tsconfig.spec.json
view/.vscode/extensions.json
view/.vscode/launch.json
view/.vscode/tasks.json
package-lock.json
package.json
